[submodule "inputs/studyforrest-ppa-analysis"]
	path = inputs/studyforrest-ppa-analysis
	url = https://gin.g-node.org/chaeusler/studyforrest-ppa-analysis
	datalad-id = 9414bede-5186-11ea-b96e-ac1f6bac9bd2
	datalad-url = https://gin.g-node.org/chaeusler/studyforrest-ppa-analysis
[submodule "inputs/studyforrest-data-visualrois"]
	path = inputs/studyforrest-data-visualrois
	url = https://github.com/psychoinformatics-de/studyforrest-data-visualrois.git
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-visualrois.git
[submodule "inputs/studyforrest-data-templatetransforms"]
	path = inputs/studyforrest-data-templatetransforms
	url = https://github.com/psychoinformatics-de/studyforrest-data-templatetransforms
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-templatetransforms
